#root {
  display: flex;
  flex-direction: column;

  height: 100vh;

  /* iPhone X */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
}
